# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# IntelliJ IDEA files
.idea

# Output of the go coverage tool,
*.out

# Test binary, built with `go test -c`
*.test
*.tmp

# Dependency directories
vendor/